<h2>My Quizzers</h2>

<div>
  <label>Quizzer name:
    <input #quizzerName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(quizzerName.value); quizzerName.value=''">
    add
  </button>
</div>

<ul class="quizzers">
  <li *ngFor="let quizzer of quizzers">
    <!--
    [class.selected]="quizzer === selectedQuizzer"
    (click)="onSelect(quizzer)">
    <span class="badge">{{quizzer.id}}</span> {{quizzer.name}}
    -->
    <a routerLink="/detail/{{quizzer.id}}">
      <span class="badge">{{quizzer.id}}</span> {{quizzer.name}}
    </a>

    <button class="delete" title="delete quizzer"
      (click)="delete(quizzer)">x</button>
  </li>
</ul>
 
<!--
<div *ngIf="selectedQuizzer">
 
  <h2>{{selectedQuizzer.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedQuizzer.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedQuizzer.name" placeholder="name"/>
    </label>
  </div>
 
</div>
-->
<!--
<app-quizzer-detail [quizzer]="selectedQuizzer"></app-quizzer-detail>
-->