<h2>Quizzer Admin</h2>

<div class="container">
  <label>Quizzer name:
      <input #quizzerName class="form-control" />
  </label>

  <div class="input-group mb-3">
    <select class="custom-select" id="programSelect" aria-label="select program" #programSelect >
      <option selected>WGL</option>
    </select>
    <select class="custom-select" id="divisionSelect" aria-label="select division" #divisionSelect>
      <option selected>A</option>
      <option >B</option>
    </select>
    <button (click)="add(quizzerName.value,programSelect.value,divisionSelect.value); quizzerName.value='';programSelect.value='WGL';divisionSelect.value='A'">
        add
    </button>
  </div>
</div>

<ul class="quizzers">
  <li *ngFor="let quizzer of quizzers">
    <!--
    [class.selected]="quizzer === selectedQuizzer"
    (click)="onSelect(quizzer)">
    <span class="badge">{{quizzer.id}}</span> {{quizzer.name}}
    -->
    <a routerLink="/detail/{{quizzer.id}}">
      <span class="badge">{{quizzer.id}}</span> {{quizzer.name}}
    </a>

    <button class="delete" title="delete quizzer"
      (click)="delete(quizzer)">x</button>
  </li>
</ul>
 
<!--
<div *ngIf="selectedQuizzer">
 
  <h2>{{selectedQuizzer.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedQuizzer.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedQuizzer.name" placeholder="name"/>
    </label>
  </div>
 
</div>
-->
<!--
<app-quizzer-detail [quizzer]="selectedQuizzer"></app-quizzer-detail>
-->