<ul class="quiz" *ngIf="quiz">
  {{quiz}}
    <li *ngFor="let team of quiz.teams">

      <div class="quiz">
          {{team}}
      </div>

      <div class="score">
         {{team}}
      </div>

      <button class="points" title="+10"
        (click)="gainPoints(quizzer)">+10</button>
      <button class="points" title="-10"
        (click)="losePoints(quizzer)">-10</button>
      <button class="points" title="reset points"
        (click)="reset(quizzer)">Reset</button>
      <button class="error" title="error"
        (click)="error(quizzer)">Error</button>
      <!--
      <button class="delete" title="delete quizzer"
        (click)="delete(quizzer)">x</button>
        -->
    </li>
  </ul>