<ul class="quizzes">
    <li *ngFor="let quiz of quizzes">

      <div class="quiz">
          {{quiz.date}}
      </div>

      <div class="score">
         {{quiz.division}}
      </div>

      <button class="points" title="+10"
        (click)="gainPoints(quizzer)">+10</button>
      <button class="points" title="-10"
        (click)="losePoints(quizzer)">-10</button>
      <button class="points" title="reset points"
        (click)="reset(quizzer)">Reset</button>
      <button class="error" title="error"
        (click)="error(quizzer)">Error</button>
      <!--
      <button class="delete" title="delete quizzer"
        (click)="delete(quizzer)">x</button>
        -->
    </li>
  </ul>