/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    position: relative;
    padding: 0 1% 2% 1%;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a { 
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    /*position: relative;*/
  }
  
  .quizzer {
    padding: 0px 0px;
    margin: 10px 5px 10px 5px;
    border-radius: 10px;
    background-color: #607d8b;
    /*background-image: linear-gradient(rgb(86, 120, 123), #24536a);*/
    background-image: linear-gradient(rgb(155, 162, 162), #cae1ec);
  }
  .quizout {
    background-image: linear-gradient(rgb(151, 216, 158), #17df3f);
  }
  .errorout {
    background-image: linear-gradient(rgb(216, 151, 151), #df1717);
  }

  .header{
    padding: 2px;
  }
  .header > h3{
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
  }
  .imgcontent{
    padding: 0px;
    margin: 0px 0 0 0;
    height: 120px;
  }
  img {
    width:100px;
    border-radius: 50%;
    padding: 0;
  }
  .imgquizout{
    clip-path: circle(50%);
    /*filter:contrast(50%) brightness(200%);*/
    padding: 0;
  }

  .content{
    text-align: center;
  }
  .footer{
    display: flex;
    position: relative;
  }

  

  .score {
    font-size: 300%;
    text-align: center;
    padding: 0;
  }
  .error {
    position: absolute;
    top: -35px;
    left: -20px;
    font-size: 120%;
    background-color: #F00;
    padding: 1% 3%;
    border-radius: 5px;
    border: 1px solid white;
  }

  @media (max-width: 600px) {
    .quizzer {
      margin: 1px 5px 1px 5px;
      background-image: linear-gradient(rgb(155, 162, 162), #cae1ec);
    }
    .quizout {
      background-image: linear-gradient(rgb(151, 216, 158), #17df3f);
    }
    .errorout {
      background-image: linear-gradient(rgb(216, 151, 151), #df1717);
    }
    
    .header{
      padding: auto;
      margin: auto;
    }
    .header > h3{
      font-size: 120%;
      white-space: nowrap;
      text-align: center;
      overflow: hidden;
      text-overflow: clip;
    }
    .imgcontent{
      height: 50px;
    }
    img {
      padding: auto;
      height:50px;
      width: auto;
    }
    .content {
      padding: auto 0;
      margin: auto;
    }
    .content > * {
      text-align: center;
      font-size: 150%;
      padding: auto 0;
      margin: auto;
    }
    .footer{
     padding: auto 0;
     margin: 0;
    }
    .error {
      position: static;
      font-size: 120%;
      background-color: #F00;
      margin: auto 0;
      border-radius: 5px;
      border: 1px solid white;
    }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .quizzer {
      min-width: 60px;
    }
  }


  @keyframes myanim {
    20% {
       border-color: rgb(50, 69, 91);
    }
 }

 /*border: 3px solid #FF0;
    border-color: #FF0;
    animation: myanim 1s infinite;*/
